#cover
  position: relative
  padding: 200px 0 100px

  @media (min-width: $screen-sm)
    padding-bottom: 40px

  .cover-bg 
    .bg-deco, .bg-image
      position: absolute

    /** Deco Elements **/
    .deco_cross
      width: 20px
      top: 100px
      right: 100px
      animation: fade-in .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.3s both, heartbeat 2s ease-in-out infinite both

      @media (min-width: $screen-sm)
        width: 25px
        top: 120px
        right: 180px

      @media (min-width: $screen-md)
        width: 25px
        top: 100px
        right: 250px

    .deco_oval
      width: 20px
      top: 100px
      left: 40px
      display: none
      animation: fade-in .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both, heartbeat 2s ease-in-out infinite both

      @media (min-width: $screen-sm)
        display: block
      
      @media (min-width: $screen-md)
        left: -30px

    .deco_wave
      width: 150px
      top: 975px
      left: -55px
      animation: fade-in .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.9s both

      .sinewave
        animation: linearmovX 10s linear infinite alternate

      @media (min-width: $screen-sm)
        top: 915px
        left: 0

      @media (min-width: $screen-md)
        top: 910px
        left: 90px

    .deco_wave_gradient
      height: 150px
      top: 0
      right: 10px
      animation: fade-in .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both

      .sinewave
        animation: linearmovY 10s linear infinite alternate

      @media (min-width: $screen-sm)
        height: 180px
        right: 40px

      @media (min-width: $screen-md)
        height: 180px
        right: 55px

    .deco_cross_gradient
      width: 42px
      top: 400px
      left: 80px
      animation: fade-in .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both, heartbeat 2s ease-in-out infinite 1.2s both

      @media (min-width: $screen-md)
        top: 520px
        left: 20px

    .deco_oval_gradient
      width: 30px
      top: 300px
      right: 60px
      animation: fade-in .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both, heartbeat 2s ease-in-out infinite .8s both

      @media (min-width: $screen-md)
        top: 260px
        right: -40px

    .deco_triangle_gradient
      width: 42px
      top: 875px
      right: 40px
      animation: fade-in .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.8s both, heartbeat 2s ease-in-out infinite .5s both

      @media (min-width: $screen-md)
        top: 875px
        right: 40px

    .tablet
      .deco_cross
        width: 32px
        top: 670px
        right: 130px
        animation: fade-in .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both, heartbeat 2s ease-in-out infinite 1s both

        @media (min-width: $screen-md)
          top: 790px
          right: 140px

    /** Background **/
    #bg-square
      +size(150px, 150px)
      top: 90px
      left: -30px
      animation: scale-in-center .6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.3s both

      @media (min-width: $screen-sm)
        +size(200px, 200px)
        left: 60px

      @media (min-width: $screen-md)
        +size(300px, 300px)
        top: 80px
        left: 30px

    #bg-stripe
      width: 180px
      top: 945px
      right: 0
      animation: scale-in-center .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.4s both

      @media (min-width: $screen-sm)
        width: 240px
        top: 460px

      @media (min-width: $screen-md)
        width: 360px
        right: -90px

    #bg-oval
      display: none

      @media (min-width: $screen-sm)
        display: block
        +size(200px, 200px)
        top: 550px
        left: -30px
        animation: scale-in-center .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both

      @media (min-width: $screen-md)
        +size(300px, 300px)
        top: 710px
        left: -150px

  .ruby_elixir_logo
    width: 100%
    max-width: 240px
    text-shadow: 0 1px 1px rgba(0,0,0,0.30)
    margin: 0 auto

    @media (min-width: $screen-sm)
      max-width: 320px

  .event
    margin: 40px auto
    color: $midnight
    animation: fade-in 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.3s both

    @media (min-width: $screen-sm)
      margin: 60px auto
      margin-top: 40px

    .event-date
      font-family: 'Righteous'
      font-size: 24px

      @media (min-width: $screen-sm)
        font-size: 28px

    .event-location
      font-size: 16px

      @media (min-width: $screen-sm)
        font-size: 20px

      &.en
        font-weight: bold
        line-height: 1.5
        letter-spacing: 0.5px
        white-space: pre
        margin-bottom: 15px

      &.cht
        font-family: 'Noto Sans TC'
        font-weight: 500
        letter-spacing: 2.5px

  .cfa
    animation: fade-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both
  
    .btn-large
      display: block
      margin: 20px auto 0

    @media (min-width: $screen-sm)
      .btn-large
        display: inline-block
        margin: 0 15px
      
      .coming-soon
        display: inline-block

  .social-media
    padding: 0
    margin: 40px 0 0
    animation: fade-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.3s both

    @media (min-width: $screen-sm)
      margin-top: 60px

    li
      position: relative
      padding: 0 5px

      .media
        display: inline-block
        +size(40px, 40px)

        .social_btn_color
          +transition(all, 0.3s)
        
        &:hover
          &.facebook .social_btn_color
            fill: #3b5998
          &.twitter .social_btn_color
            fill: #1da1f2
          &.ruby .social_btn_color
            fill: $ruby-dark
          &.elixir .social_btn_color
            fill: $elixir-dark
          &.email .social_btn_color
            fill: $midnight