#news
  padding-bottom: 60px

  @media (min-width: $screen-sm)
    padding-bottom: 80px

  @media (min-width: $screen-md)
    padding-bottom: 100px

  .news-list
    @extend .flexbox
    flex-direction: column

    @media (min-width: $screen-sm)
      flex-direction: row

    .news
      margin-bottom: 40px
      width: 100%

      @media (min-width: $screen-sm)
        padding-right: 30px
        margin-bottom: 60px
        width: 50%

      @media (min-width: $screen-md)
        width: calc(100% / 3)

      .news-date
        width: 120px
        height: 30px
        background: linear-gradient($ruby-dark, $elixir-dark)
        text-align: center

        span
          font-family: 'Righteous'
          font-weight: 300
          font-size: 14px
          text-transform: uppercase
          letter-spacing: 1px
          color: #fff
          line-height: 30px

      .news-title
        display: block
        font-weight: 500
        font-size: 20px
        color: $midnight
        line-height: 1.3
        margin: 20px 0

        &.modaled
          cursor: pointer

      #deco
        margin: 0

      .modal .modal-body
        padding: 0

        #deco
          margin: 0 auto

        .content
          font-family: 'Noto Sans TC'
          padding: 20px

          img
            display: block
            width: 100%
            max-width: 640px
            margin: 30px auto
          h1
            font-size: 24px
          h2
            font-size: 20px
            margin: 30px 0 20px
          h3
            font-size: 18px
            margin: 30px 0 20px
          p
            font-size: 16px
            line-height: 24px
          a
            word-break: break-all
          blockquote
            color: $dark-grey
            font-style: italic
            margin: 0

          @media (min-width: $screen-sm)
            padding: 40px

            img
              width: 80%
            h1
              font-size: 28px
            h2
              font-size: 24px
            h3
              font-size: 20px
            p
              font-size: 18px
              line-height: 28px

          .news-content
            padding-top: 20px

  #news-more
    margin: 0 auto

    @media (min-width: $screen-sm)
      margin: 0