#parties
  .parties
    @media (min-width: $screen-md) and (max-width: 1024px)
      margin: 0 40px

  .party-ticket
    display: block
    position: relative
    +size(260px, 510px)
    margin: 0 auto
    box-shadow: 0 2px 8px 0 rgba($midnight,0.50)

    + .party-ticket
      margin-top: 40px

    @media (min-width: $screen-sm)
      +size(482px, 280px)

    @media (min-width: 1104px)
      display: inline-block
      vertical-align: top

      + .party-ticket
        margin-top: 0
        margin-left: 60px
      
    .ticket-bg
      +size(100%, 100%)
      position: absolute
      top: 0
      left: 0
      overflow: hidden

      #deco_wave_vertical
        height: 80px
        position: absolute
        top: 200px
        right: 20px
        z-index: 99

        .deco-line
          stroke: $midnight

        @media (min-width: $screen-sm)
          transform: rotate(90deg)
          top: 150px
          right: 300px

      #deco_cross
        width: 24px
        position: absolute
        top: 400px
        right: 20px
        z-index: 99

        .deco-line
          stroke: #fff
          
        @media (min-width: $screen-sm)
          top: 20px
          right: 20px

      #deco_logo
        width: 160px
        position: absolute
        opacity: 0.2
        top: 30px
        left: -40px

    .party-cover
      position: relative
      +size(100%, 240px)
      padding: 40px

      @media (min-width: $screen-sm)
        display: inline-block
        +size(182px, 100%)
        vertical-align: top

      #deco
        margin: 20px 0 
        .deco-color
          fill: $midnight

      #main_logotype
        position: absolute
        +size(143px, 37px)
        left: 40px
        bottom: 20px

        @media (min-width: $screen-sm)
          left: 20px

      .title
        font-family: 'Righteous'
        font-weight: 300
        font-size: 32px
        line-height: 1.3
        letter-spacing: 0.5px
        color: $midnight

    .party-info
      position: relative
      +size(100%, 270px)
      padding: 40px

      @media (min-width: $screen-sm)
        display: inline-block
        +size(300px, 100%)

      &.ruby
        @extend .main-background_ruby

      &.elixir
        @extend .main-background_elixir

      .date, .time
        font-family: 'Righteous'
        font-weight: 300
        font-size: 28px
        color: #fff

      .time
        font-size: 26px

      .location
        font-family: 'Lato'
        font-size: 24px
        color: #fff

        span
          font-family: 'Noto Sans TC'
          font-size: 20px
          letter-spacing: 2px
          padding-bottom: 3px
          margin-left: 5px
          border-bottom: 2px solid #fff

      .btn-minimal
        position: absolute
        +size(220px, 50px)
        left: 20px
        bottom: 20px
        border: 1px solid #fff
        border-radius: 4px
        margin: 0 auto
        font-size: 16px
        color: #fff
        letter-spacing: 1px
        line-height: 36px
        text-align: center
        text-transform: uppercase

        &.register
          +hover-effect(0.3s, -5px)

        &.inactive
          pointer-events: none

        @media (min-width: $screen-sm)
          width: 240px
          left: 30px