.logotype-color
  fill: $midnight

.social_btn_color
  fill: $marble

.main-deco
  +size(20px,12px)
  display: block
  margin: 20px auto

.deco-color
  fill: $marble

.deco-line
  fill: none
  stroke: $marble
  stroke-width: 2
  stroke-linecap: round
  stroke-linejoin: round

  &.thin
    stroke-width: 1

  &.dark
    stroke: $midnight